body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;
    height: 100%;
    margin: 0;
}


/* === Back to top button styling === */
#navbar {
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#navbar a {
    float: left;
    display: block;
    color: #EFEFEF;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.7s;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}


/* === Back to top button styling === */
#backToTopButton {
    display: inline-block;
    background-color: rgb(166, 166, 166);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backToTopButton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#backToTopButton:hover {
    cursor: pointer;
    background-color: #333;
}

#backToTopButton:active {
    background-color: #555;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
}



/* === Homepage hero image and text styling === */
.home-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.home-hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}

/*use view width to make responsive text sizes*/
.home-hero-text h1 {
    font-size: 3vw;
}

.home-hero-text p {
    font-size: 2vw;
}



.dataset-context-container {
    margin-left: 475px;
    margin-bottom: 30px;
}



/* === Text container styling === */
.contentContainer {
    text-align: justify;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 475px;
}

.small-non-bold {
    text-decoration: none;
    font-size: 11pt;
    font-weight: 400;
    width: 280px;
}
.big-bold {
    text-decoration: none;
    font-size: 20pt;
    font-weight: 700;
}

.line-black {
    border: 1px solid #cacaca;
    width: 970px;
}



/* === Lunch Chart styling === */
.PELChartContainer {
    position: relative;
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 200px;
    opacity: 0;
}

.PELChartContainer h1 {
    color: rgba(38, 38, 38, 1);
    text-align: center;
}



/* === Lunch Chart styling === */
.lunchChartTitle {
    color: rgba(38, 38, 38, 1);
    text-align: center;
}

.lunchChartContainer {
    position: relative;
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 200px;
    opacity: 0;
}

.chartOne-fade-in {
    opacity: 1;
    transition: opacity 1.5s ease;
}

.chartOne-fade-out {
    opacity: 0;
    transition: opacity 1.5s ease;
}

#lunchChartChoices {
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
    border: none;
    outline: 2px solid rgba(38, 98, 255, 1);
    border-radius: 5px;
    transition: 0.5s outline;
}

#lunchChartChoices:hover {
    outline: 2px solid rgba(38, 98, 255, 0.5);
}

#lunchChartChoices:hover,
#lunchChartChoices option:hover {
    cursor: pointer;
}



/* === Heatmap Chart Styling === */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 1000px;
    margin: 1em auto;
}

.highcharts-figure h1 {
    text-align: center;
}

.highcharts-data-table table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 900px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-description {
    font-family: 'Montserrat', sans-serif;
}






/* === scrollbar styling === */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(128, 128, 128, 0.7);
}